name: Send data using pipe

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Build receiver for pipe
      run: g++ -Wall -Wextra -fprofile-arcs -ftest-coverage -o receivestream ./BMSApplication_Receiver/BatteryMonitoringSystem_Receiver_Main.c

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml    
    
    - name: Build sender for pipe
      run: javac src/main/java/**/*.java
      
